[program:avatartare]
command = {{ env.avatartare.path }}/env/bin/python main_tornado.py 808%(process_num)d
directory = {{ env.avatartare.path }}
numprocs = {{ env.avatartare.process_count }}
autostart = true
autorestart = true
process_name = avatartare_%(process_num)d
stderr_logfile = /var/log/avatartare-proc.log
startretries = 20
